*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    
}
h1{
    width: 30vh;
}
.container{
    width: 40vw;
    background-color: rgb(158, 158, 78);
    height: 40vw;
}
.buttons{
    padding: 1.6vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw 3vw;
}
.container button{
    width: 10vw;
    height: 10vw;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: none;
    color: rgb(16, 36, 218);
}
.container button:disabled{
    background-color: white;
}
.container button:hover{
    cursor: pointer;
}
.message{
    position: absolute;width: 30vw;
    height: 20vw;
    background-color: yellowgreen;
    opacity: 0.95;
    display: none;
}
.message p{
    
    font-size: 8vh;
   
    text-align: center;
}
.replay{
    width: 10vw;
    height: 10vh;
    font-size: 4vh;
    margin-top: 4vh;
}
.restart{
    margin-top: 3vh;
    width: 15vw;
    height:7vh;
    font-size: 3vh;
}
.close{
    position: absolute;
    right: 1vh;
    top: 1vh;
    background-color: transparent;
    border: none;
    font-size: 5vh;
    width: 4vh;
    height: 4vh;
    color: rgb(233, 61, 61);
    transform: rotate(45deg);
}
.close:hover{
    cursor: pointer;
}